<h1>{{model.title}}</h1>
<div>{{model.body}}</div>
<dl>
  <dt>Assignees</dt>
  <dd>{{model.assignees}}</dd>
  <dt>Labels</dt>
  <dd>{{#each model.labels as |label|}}{{label.name}}{{/each}}</dd>
  <dt>Project</dt>
  <dd>{{model.project}}</dd>
  <dt>Milestone</dt>
  <dd>{{model.milestone}}</dd>
</dl>
